/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Styles general*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background: black; }

.menu {
  list-style: none;
  padding: 0;
  background: black 0, 0, 0;
  width: 90%;
  max-width: 1000px;
  margin: auto; }

.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block; }

.menu li {
  display: inline-block;
  text-align: end; }

.menu li a:hover {
  background: #03d30d; }

body {
  background-color: black 14, 1, 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

/* Styles header*/
header {
  display: none; }

/*Styles main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center; }

main h2 {
  color: #51ff00;
  text-align: center; }

main h2 span {
  display: block; }

main p {
  padding: 1rem;
  text-align: center; }

main .boton {
  background-color: #000000;
  color: whitesmoke;
  padding: 0.7rem;
  box-shadow: 1px 1px 5px black;
  text-shadow: 1px 1px 5px black; }

main img {
  width: 70%; }

main {
  padding: 2rem; }

/* section styles*/
section {
  display: none; }

/*mq*/
@media screen and (min-width: 768px) {
  /*styles header*/
  header {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b60c45; }
  header nav ul {
    list-style: none;
    display: flex;
    gap: 1.3rem; }
  /* Section styles */
  section {
    display: block;
    display: flex;
    background-color: black; }
  section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
  section div img {
    width: 20%; }
  section div p {
    text-align: center; } 
    .bannerone {
      height: 400px;
      background-image: url(../img/icedropsmob.jpg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

@media screen and (min-width: 1024px) {
  /* Styles main*/
  main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "p img"
 "h2 img"
 "p-dos img"
 "boton img";
    justify-items: center; }
  main p {
    grid-area: p; }
  main h2 {
    grid-area: h2; }
  main .p-dos {
    grid-area: p-dos; }
  main .boton {
    grid-area: boton; }
  main img {
    grid-area: img; } 
    .bannerone {
      height: 400px;
      background-image: url(../img/icedropsmob.jpg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

/* Social Network styles*/
.soundcloudlogo {
  display: flex;
  justify-content: left;
  align-items: flex-start; }

.facebooklogo {
  display: flex;
  justify-content: center;
  align-items: center; }

.iglogo {
  position: relative;
  left: 150px; }


.bannerone {
    height: 400px;
    background-image: url(../img/icedropsmob.jpg);
    background-repeat: no-repeat;
background-position: center;
  }
   